#carousel {
    margin: 0 auto;
    width: 640px;
    height: 360px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    .slide {
        width: 640px;
        height: 360px;
        position: absolute;
        transition: all 0.5s;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    #progressBar {
        width: 0%;
        height: 8px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
        position: absolute;
        bottom: 0;
        &.start {
            width: 100%;
        }
    }
}

#sliderContainer {
    text-align: center;
    padding-top: 30px;
    input[type=range] { 
        width: 640px;
    }   
}