<div class="container">
  <div id="carousel">
    <div class="slide" *ngFor="let img of imgs; let i = index" [style.transform]="'translateX(' + (100 * (i - currentSlide)) + '%)'">
      <img src="assets/carousel/{{img.src}}" />
    </div>
    <div id="progressBar" [ngClass]="{'start' : slideEvent}" [style.transition]="'width ' + (slideEvent ? timeInterval : 0) + 'ms linear'"></div>
  </div>

  <div id="sliderContainer">
    <input type="range" name="carouselInterval" min="500" max="5000" step="500" [(ngModel)]="timeInterval">
    <p>Slider Intervall: <strong>{{timeInterval/1000}}</strong> Sekunden</p>
  </div>
</div>