body {
	background-color: $colorBG;
	color: $colorFontMain;
	font-family: $fontMain;
	font-size: $fontMainSize;
	font-weight: 400;
	margin: 0;
}

header, footer, main, nav, #content, container, section {
  display: block;
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding: 4rem 1.5rem;
	max-width: $containerWidth;
}

#content {
	min-height: calc(100vh - $headerHeight - $footerHeight); 
}

header {
    min-height: $headerHeight;
    width: 100%;
    background-color: $colorCI;
	z-index: 9;
	.inner {
		margin: 0 auto;
		max-width: $containerWidth;
		img {
			max-width: 264px;
			height: auto;
		}
	}
}

footer {
	width: 100%;
	min-height: $footerHeight;
	background-color: #e9e9e9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	> * {
		padding: 20px;
	}
	p {
		margin-bottom: 0;
		font-size: 80%;
	}
}