*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
	width: 100vw;
	max-width: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.5;
  margin-bottom: 1.5rem;
}
h1 {
  margin-bottom: 2rem;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 0;
  li {
	list-style-type: none;
  }
}

p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

img {
	max-width: 100%;
	height: auto;
}

.center {
  text-align: center;
}

.justify  {
  text-align: justify;
}

.margin-top-100 {
  margin-top: 100px !important;
}

.margin-top-60 {
  margin-top: 60px !important;
}

.xs-hide {
  @include xs {
    display: none;
  }
}

.default-separation {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.font-size-150 {
  font-size: 150%;
}

body.no-js .no-js-hide {
	display: none;
}

body:not(.no-js) .js-hide {
	display: none;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}
