$colorBG: #f7f7f7;
$colorBGHighlighted: #fff;
$colorBGInverted: #333;

$colorMain: #333;
$colorMainHighlighted: #000;
$colorMainInverted: #efebdc;
$colorCI: #001437;

:root {
  --color-ci: #{$colorCI};
  --color-bg: #{$colorBG};
  --color-bg-full: #{$colorBG};
  --color-bg-inverted: #{$colorBGInverted};
}

$colorFontMain: $colorMain;
$colorFontMainInverted: $colorMainInverted;
$colorFontMenu: $colorMain;

$selectionBackgroundColor: $colorCI;
$selectionColor: $colorMainInverted;

$fontMain: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$fontMainSize: 18px;

$headerHeight: 75px;
$footerHeight: 75px;

$containerWidth: 1200px;

$screen-xs-max: 575px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 991px;
$screen-lg2-min: 2560px;


@mixin xs {
  @media (max-width: #{$screen-xs-max}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin lg2 {
  @media (min-width: #{$screen-lg2-min}) {
    @content;
  }
}